<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="payment_form">
  <fieldset>
    <legend>Please Enter Your Credit Card Details</legend>
    <br>
    <%= render 'form' %>
  </fieldset>
</div>